@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap'); 
 
 

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Kumbh Sans',sans-serif;
 
  /* background-image: url('/bg-pattern-top.svg'),url('/bg-pattern-bottom.svg'); */
  /* background-repeat: no-repeat, no-repeat; Prevent repetition of both SVGs */
  
  background-position: top -350px left -90px, bottom -350px right -90px;
  
   background-color:	#19a2a2;
   background-size: 1000px, 1000px;
   
}
 
 